.App {

}



.Body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../src/Photo.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sub-text {
width: 226px;
height: 18px;


/* Title/Medium */
font-family: 'M PLUS 1p';
font-style: normal;
font-weight: 800;
font-size: 14.4px;
line-height: 30px;
letter-spacing: 4px;
text-transform: uppercase;


}
.qoute {
width: 852px;
height: 100px;
/* Headers/H1 */
font-family: 'M PLUS 1p';
font-style: normal;
font-weight: 900;
font-size: 99px;
line-height: 118px;
align-self: flex-start;
color: #FCFCFC;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
